@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-secondary: var(--secondary);
}

:root {
  --background: white;
  --text: black;
  --secondary: #6e7275;
}

.dark {
  --background: black;
  --text: white;
}

@layer components {
  .blog-content h1 {
    @apply text-3xl font-bold my-4;
  }

  .blog-content h2 {
    @apply text-2xl font-bold my-4;
  }

  .blog-content h3 {
    @apply text-xl font-bold my-4;
  }

  .blog-content img {
    @apply mx-auto my-4;
  }
  .blog-content a {
    @apply text-blue-500 underline;
  }
  .blog-content strong,
  .blog-content b {
    @apply font-semibold;
  }

  .blog-content ul {
    @apply list-disc pl-8;
  }
  .blog-content ol {
    @apply list-decimal pl-8;
  }
  .blog-content i,
  .blog-content em {
    @apply italic;
  }
}
